body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 50px 100px;
}

.hero {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero .name-and-images {
  display: flex;
}

.autobot,
.decepticon {
  width: 6%;
}

.chat-space p {
  width: 50%;
  line-height: 18px;
}

.chat-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-space .chat {
  width: 60%;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.chat input,
.chat button {
  width: 30%;
  padding: 7px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 7px;
}
